# Core Blinka layer (RPi GPIO/I2C/SPI -> CircuitPython API)
Adafruit-Blinka

# Sensor libraries
adafruit-circuitpython-bno08x
adafruit-circuitpython-bmp3xx

# Actuator libraries
adafruit-circuitpython-pca9685
adafruit-circuitpython-motor

# XBee UART link
pyserial
